* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    width: 100vw;
    height: 100vh;
    background-image: url('./media/pizza-pepperoni.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.home-pizza{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: normal;
    color: #000000;
    justify-content: center;
    margin-left: 45%;
}

.conteudo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: #eb1e1e;
    width: 500px;
    height: 600px;
    justify-content: left;
    margin-right: 20%;
    margin-left: 5%;
    text-align: center;
    border-radius: 30px;
    color: #ffffff;
    margin-top: 20px;
}


.informacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-conteudo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: #fff;
}

.espaco{
    width: 70%;
    justify-content: center;
    margin-left: 10%;
    margin-top: 20px;
}

.espaco-img{
    width: 100px;
    height: 100px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40%;
}

header {

    background: #eb1e1e; 
    color: #fff;
    padding: 20px 0; 
    background: #eb1e1e;
    color: #fff;
    padding: 10px 0;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 20px; 
}

header .logo img {
    height: 100px; 
    width: auto;
    justify-content: left;
    margin-right: 100%;
    border-radius: 50px;
}

nav ul {
    list-style: none; 
    display: flex;
}

nav ul li {
    margin-left: 20px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: #000000; 
}

main .welcome {
    text-align: center;
    padding: 50px 20px;
    background: #eb1e1e;
    margin-top: 20px;
    width: 1000px;
    margin-left: 20%;
    margin-top: 40px;
    border-radius: 30px;
}

 .welcome h2 {
    font-size: 36px;
    color: #ffffff;
}

 .welcome p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
    padding: 0 auto;
}

header .logo {
    font-size: 24px;
    justify-content: left;
    margin-right: 30%;
}

.link-nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 10px;
    font-size: 24.4px;
    transition: color 0.7s;
}

.link-nav:hover{
    text-decoration: none;
    transform: scale(1.1);
}

.site-footer{
    background-color: #eb1e1e;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
}