* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

header {

    background: #eb1e1e; 
    color: #fff;
    padding: 20px 0; 
    background: #eb1e1e;
    color: #fff;
    padding: 10px 0;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 20px; 
}

header .logo img {
    height: 100px; 
    width: auto;
    justify-content: right;
    margin-right: 300px;
    border-radius: 50px;
}

nav ul {
    list-style: none; 
    display: flex;
}

nav ul li {
    margin-left: 20px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: #000000; 
}

main .welcome {
    text-align: center;
    padding: 50px 20px;
    background: #fff;
    margin-top: 20px;
}

main .welcome h2 {
    font-size: 36px;
    color: #333;
}

main .welcome p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
    padding: 0 auto;
}

header .logo {
    font-size: 24px;
    justify-content: left;
    margin-right: 10px;
}

.link-nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 10px;
    font-size: 24.4px;
    transition: color 0.7s;
}

.link-nav:hover{
    text-decoration: none;
    transform: scale(1.1);
}

.site-footer{
    background-color: #eb1e1e;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
}

.autores{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.autores:hover{
    transform: scale(1.1);
}
.contact{
    justify-content: center;
    
}

.icons{
    width: 30px;
    height: 30px;
    align-items: center;
}

.icons-contact{
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.container-contact{
    background-color: #4b4b4b;
    width: 200px;
}